* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, grey, white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
    flex-direction: column;
}

.container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

button {
    padding: 12px 25px;
    font-size: 1rem;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: black;
}

p {
    font-size: 1.2rem;
    margin-top: 20px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

footer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
}

footer a {
    color: #00c6ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
